*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenitori */
.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

/* Contenitore padre delle colonne */
.container-father{
    min-height: 500px;
    margin-bottom: 10px;
}

/* Header */
.header{
    min-height: 100px;
    margin-bottom: 20px;
}


/* Contenitore banner */
.container-big{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 500px;
    border-radius: 10px;
}

/* Hero contenente overlay*/
.hero{
    min-height: 500px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


/* Contenitore testo all'interno di container-big */
.text-container-big{
    color: white;
    padding-left: 50px;
    padding-top: 300px;
    max-width: 500px;
}


/* Contenitore piccolo main */
.container-small{
    min-height: 80px;
}


/* Colonna sinistra e colonna destra */
.left-col, .right-col{
    float: left;
    width: 20%;
    min-height: 520px;
    margin-top: 25px;
    
}


/* Colonna centrale */
.middle-col{
    float: left;
    width: calc(60% - 40px);
    min-height: 520px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Footer */
.footer{
    min-height: 60px;
}

/* Clearfix */
.container-father::after{
    content: "";
    display: table;
    clear: both;
}

/* Backround color classes */

.sand{
    background-color: #e1d67a;
}

.lightblue{
    background-color: #abcfe7;
}

.blue{
    background-color: #0185ff;
}

.purple{
    background-color: #8801fe;
}

.pink{
    background-color: #e579e6;
}

/* Logo  */
header img{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 30px;
}

/* Menu di navigazione */
header li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

/* Link della lista */
header a{
    text-decoration: none;
    color: grey;
}

/* Primo elemento della lista */
#list-first-element{
    margin-left: 0;
}

/* container-small */
.container-small{
    margin-top: 40px;
}

.container-small span{
    color: grey;
}

.container-small h1{
    font-size: 30px;
}

.column-img-container{
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
    border-radius: 10px;
}

.container-father .left{
    background-image: url("../img/img-1.jpg");
}

.container-father .middle{
    background-image: url("../img/banner-2.jpg");
}

.container-father .right{
    background-image: url("../img/img-3.jpg");
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container-father h3{
    margin-top: 15px;
}

.container-father p{
    margin-top: 10px;
    color: grey;
}